<!-- <h1>Get Method</h1>
<p>{{ getJsonValue | json }}</p>

<h1>Post Method</h1> -->
<!-- <p>{{ postJsonValue | json }}</p> -->

<!-- <div *ngFor="let todo of data; let i = index">
  value{{ i }}=Id:{{ todo._id + "" }}{{ todo.username + "" }}
</div> -->
<h1 style="color: red">ToDo List</h1>
<div *ngFor="let todo of data; let i = index">
  <ul>
    <li>
      <b>
        Id:{{ todo._id + "" }}<br />Username: {{ todo.username + ""
        }}<br />todo: {{ todo.todo }}</b
      >
    </li>
    <br />
    <br />
  </ul>
</div>
